.container{
    position: relative;
    justify-content: center;
    display: flex;
}
h1{
    text-align: center;
}
.top-monitor{
    
}
.symbol{
    display:flex;
    flex-direction: row  ;
}
.container-pump-status{
    display:flex;
    flex-direction: column  ;
    margin-left: 512px;
    margin-top: 28px;
}
.border-pump{
  
   
}
.border-pump-2{
    margin-top: 107px;
    margin-left : 3px;

   
}
.container-pump-flow{
    display:flex;
    flex-direction: column  ;
    
    margin-left: 145px;
    margin-top: 88px;
    /* //margin-left: 5px; */
  

}




.border-flow-panel2{
 
   
    margin-top: 130px;
    margin-left : 5px;

}


.background{
    
  
    /* padding: 500px; */
    background-image: url('../Img/scada.png');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: left; 
    background-size: 100%;
    height: 700px;
    width: 1200px;
    position: relative;
}

.container-n{
 
    flex-direction: column  ;
}
 .container-s
{
    display: flex;
    flex-direction: column  ;
    margin-left: 100px;
    margin-top: 10px
    
} 

.panel-2{
    
    margin-top: 10px;


} 
.top-alarm{
position: absolute;
margin-left: 280px;
margin-top: 3px;
}
