
a1{
  font-weight: bold;
  
}
.blink{
  margin-right: 2px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}
/* .modal-backdrop fade show{
  width: 100%;
  height: 100%;
} */
.status-warning{
  display:flex;
  flex-direction: row;
}

  @-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .border-blink{
    border: none;
    width: 100%;
    height: 20px;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
  }
  .btnContain{
    display:flex;
    font-size: 15px;
  }
  .content-border{
    margin: 7px 7px 7px 7px;
  }
  .border{
    border-radius: 10px 10px 10px 10px;
  }
