.container{
    position: relative;
    justify-content: center;
    display: flex;
}
h1{
    text-align: center;
}

.background{
    
  
    /* padding: 500px; */
    background-image: url('../Img/scada.png');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center; 
    background-size: 100%;
    height: 700px;
    width: 1200px;
    position: relative;
}
.container-n{
    display: flex;
    flex-direction: column  ;
}
 .container-s
{

    margin-left: 300px;
    margin-top: 20px
    
} 
.panel-1{
     
  
}
.panel-2{
    
    margin-top: 10px
} 