.border-remote{
    border : 2px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 40px;
    height: 40px
}
.border-remote-blink
{
    border : 2px solid grey;
    background-color: azure;
    border-radius: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    text-decoration: blink;
    -webkit-animation-name:  blinker-border;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

